body{
    background: linear-gradient(155deg, #002244 ,#00FFFF);
}
.nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: black;
    opacity: 100%;
}

.pad{
    height: 7vh;
}
@media screen and (max-width:1024px) {
    .pad{
        padding-left: 110vh;
    }
}
@media screen and (max-width:830px) {
    .pad{
        padding-left: 90vh;
    }
}

@media screen and (max-width:685px) {
    .pad{
        padding-left: 60vh;
    }
}
@media screen and (max-width:500px) {
    .pad{
        padding-left: 40vh;
    }
}
@media screen and (max-width:375px) {
    .pad{
        padding-left: 20vh;
    }
}
.heading h1{
    padding-left: 10vh;
    font-weight: 900;
    font-size: 4em;
    color: white;
    font-family: 'Roboto Slab', serif;
}
.space{
    padding-top: 80px;
}
.rules{
    color: white;
    padding-left: 10vh;
    padding-top: 100px;
    font-weight: 200;
    font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
}
.btn {
    padding-top: 100px;
    padding-left: 10vh;
    height: 300px;
}
.btn img{
    height: 100px;
}